@font-face {
  font-family: "DK Cool Crayon";
  src: url("./fonts/DKCoolCrayon.woff2") format("woff2"),
    url("./fonts/DKCoolCrayon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-family: "DK Cool Crayon", var(--font-stack);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h1 + p {
  margin-bottom: 20px;
}

.modal[open] {
  display: flex;
  width: 350px;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 2px solid black;
  margin: auto;
}

.modal-header {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form label,
form input {
  margin-bottom: 12px;
}

form input {
  font-family: "DK Cool Crayon", var(--font-stack);
  padding: 8px;
}

button {
  padding: 8px;
  margin-top: 8px;
  font-family: "DK Cool Crayon", var(--font-stack);
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boardRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 20px;
}

.boardCell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 4px solid black;
  font-size: 3rem;
  cursor: pointer;
}
