* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 35px;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boardRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 20px;
}

.boardCell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 4px solid black;
  font-size: 3rem;
}
